

/*General CSS-start*/
body,ul,li{
    margin: 0px;
    padding: 0px;
 
}

/*General CSS-start*/


/*Header CSS-start*/

.header{
    padding: .5rem 1rem;
    background-color: #343a40!important;
    color: white;
    font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.material-icons{
    line-height: 1.25 !important;
}


.header>ul{
    display: flex;
    list-style: none;
    align-content: center;
    margin-bottom: 0rem;
}


.header>label{
    margin-top: 50px;
}

#ic_menu{
    display: flex;
    align-self: center;
}

#currentPage{
    align-self: center;
    margin-left: 6px;
}


#myAccountButton{
    display: inline-block;
    align-self: center; 
    position: absolute;
    right: 5%;
}

#searchButton{
    display: inline-block;
    align-self: center; 
    position: absolute;
    right: 16%;
}


/*Header CSS-end*/



/*Side bar CSS-start*/
.wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

#sidebar.active {
    left: 0;
}

/*Side bar CSS-end*/